:host {
  display: block;
  border: 1px solid #909090;
  padding: 5px;
}

.header {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.content {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 10fr 4fr;
}
