/* Fix user-agent */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

#loginPage {
  background-color: #000;
}

#loginPage .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

#usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 2em;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

#loginPage .title {
  font-size: 2em;
  color: #fff;
  font-weight: 100;
}

/* Game page */

#gamePage {
  display: none;
  background-color: #f0f0f0;
}

.gamePageContent {
  height: 100%;
  display: grid;
  padding: 0 0 0 25px;
  grid-gap: 25px;
  grid-template-columns: 3fr 3fr;
}

.logSide {
  border: 1px solid #666666;
  position: relative;
}

#messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
}

.message.typing .messageBody {
  color: gray;
}

.message.log {
  color: gray;
  margin: 5px;
  font-size: .7em;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Watching */
#watchingPage {
  background: #f0f0f0;
}
