/* Fix user-agent */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 2em;
}

.login.page .usernameInput {
  font-size: 2em;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Game page */

.game.page {
  display: none;
  background-color: #f0f0f0;
}

.gamePageContainer {
  height: 100%;
  display: grid;
  padding: 0 0 0 25px;
  grid-gap: 25px;
  grid-template-columns: 2fr 3fr;
}

.chatSide {
  border: 1px solid #666666;
  position: relative;
}

/* Fonts */

.gameScore {
  font-size: 5em;
}

.messages {
  font-size: 1em;
}

.inputMessage {
  font-size: 1em;
}

.log {
  font-size: .7em;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  text-align: left;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.message.log {
  color: gray;
  margin: 5px;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

/* Game */

.gameHeader {
  display: flex;
}

.gameScore {
  flex-grow: 4;
}

.gameNextItem {
  flex-grow: 1;
  text-align: center;
  word-spacing: 0;
}

.gameCell {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 4px solid #000;
}

.gameCell.empty {
  border: 1px solid #666;
}

.gameRow {
  display: flex;
}

.gameField {
  border: 2px solid #000;
  width: 75%;
  min-height: 200px;
  text-align: left;
}
