:host {
  height: 100%;
  width: 100%;
}

header {
  background: #5851ff;
  font-size: 1.4rem;
  color: white;
  line-height: 3rem;
  display: block;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.page-wrapper {
  flex-grow: 1;
}
